.signInSignUpContainer{
	width: 600px;
	position: absolute;
	left: 50%;
	top: 220px;
	margin-left: -300px;
	
}

.signInSignUpSubContainer{
	width: 100%;
	padding-top: 30px;
	float:left;
	border: solid lightgray 5px;
	margin-bottom: 50px;

}

.title{
	font-size: 16pt;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
	width: 100%;
	color:gray;
}

.toggleButton {
	color: green;
	border: none;
	text-align: center;
	display: inline-block;
	float: right;
	margin-right: 100px;
	font-size: 10pt;
	cursor: pointer;
	text-decoration: underline;
}

.toggleButton:hover{
	color:lightgreen;
}

.signInDiv, .signUpDiv{
	float:left;
	width: 480px;
	margin-left: 50px;
	padding: 10px;
	margin-top: 30px;
	margin-bottom: 30px;
}

.fieldSpan{
	font-size: 10pt;
	color: steelblue;
	margin-left: 80px;
}


.confirmButton{
	width: 100px;
	height: 40px;
	margin-left: 190px;
	margin-top: 30px;
	background-color: gray;
	border:none;
	float:left;
	cursor: pointer;
	font-size: 14pt;
	color:white;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;

}

.confirmButton:hover{
	background-color: lightgray;

}

ul{
	list-style: none;
	margin:0;
	padding: 0;

}

li{
	margin:0;
	padding: 0;
}

input{
	width: 300px;
	margin-bottom: 10px;
	font-size: 16pt;
	margin-left: 80px;
}