.QuestionPostingForm_questionPostingFormContainer{
	float:left;
	width:950px;
	padding-left: 10px;
	height: 630px;
	background-color: rgb(249,231,159);
	border-radius: 15px;
	position: relative;
}

.QuestionPostingForm_questionPostingFormContainerPopup{
	position: fixed;
	z-index: 11;
	width:950px;
	padding-left: 10px;
	height: 630px;
	background-color: rgb(249,231,159);
	border-radius: 15px;
	left:50%;
	margin-left: -480px;
	top:30px;
	animation: fallin 0.5s;
}

@keyframes fallin{
	0% {top:-650px;}
	50% {top: 50px;}
	75% {top:0px;}
	100%{top:30px;}
}

.QuestionPostingForm_questionPostingFormContainer span{
	margin-left: 20px;
	font-size: 12pt;
}

.QuestionPostingForm_questionPostingFormContainer textarea{
	resize: none;
}

.QuestionPostingForm_questionTitle{
	width:835px;
	margin-top: 10px;
	margin-bottom: 10px;
	height:20px;
	font-size: 14pt
}

.QuestionPostingForm_questionContent{
	width:434px;
	padding:5px;
	margin-left: 20px;
	margin-right: 10px;
	float:left;
	height: 490px;
	font-size: 11pt;
}


.QuestionPostingForm_confirm{
	width:900px;
	margin-left: 18px;
	height: 40px;
	float:left;
	margin-top: 15px;
	font-size: 16pt;
	font-style: italic;
	font-weight: bold;
	color: white;
	margin-bottom: 10px;
	background-color: lightgreen;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	border-radius: 15px;
	border:none;
	cursor: pointer;
}

.QuestionPostingForm_confirm:hover {
	background-color: palegreen;
}