.QuestionWithAnswerButton_questionWithAnswerButtonContainer{
	width: 550px;
	padding: 5px;
	margin: 3px;
	float:left;
	background-color: lightsalmon;
	border-radius: 30px;

}

.QuestionWithAnswerButton_answerQuestionButton{
	padding:5px;
	width: 30px;
	height: 90px;
	float: right;
	margin-right: 10px;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	border:none;
	cursor: pointer;
	background-color: lightgreen;
	border-radius: 25px;
	font-size: 12pt;
	border: 2px solid white;
	color: white;
	line-height: 12px;
}

.QuestionWithAnswerButton_answerQuestionButton:hover{
	background-color: white;
	border: 2px solid lightgreen;
	color:lightgreen;
}