.QuestionsContainer{
	width: 566px;
	margin-left: auto;
	margin-right: auto;
	padding: 10px;
}

.AskingQuestionTriggerButton{
	position: fixed;
	top:250px;
	left:50%;
	width: 180px;
	height: 100px;
	margin-left:-480px;
	z-index: 5;
	background-image:url("../image/ask_question.png");
	background-size: contain;
	background-repeat: no-repeat;
	cursor: pointer;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	text-align: center;
	line-height: 100px;
	font-size: 14pt;
	color:rgba(0,0,0,0);
	opacity: 0.75;
}

.AskingQuestionTriggerButton:hover{
	color:white;
	text-shadow: 0px 0px 4px black;
	opacity: 1;
}

.LoadOlderQuestionsButton{
	display: inline-block;
	vertical-align: middle;
	width:553px;
	float:left;
	margin-left: 3px;
	text-align: center;
	margin-bottom: 50px;
	margin-top: 10px;
	border-radius: 15px;
	height:25px;
	cursor: pointer;
	padding-top: 5px;
	font-size: 12pt;
	color:lightblue;
	font-weight: bold;
	border: 3px solid lightblue;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
}

.LoadOlderQuestionsButton:hover{
	background-color: lightblue;
	color:white;
}

.LoadOlderQuestionsButtonDisable{
	display: inline-block;
	vertical-align: middle;
	width:553px;
	float:left;
	margin-left: 3px;
	text-align: center;
	margin-bottom: 50px;
	margin-top: 10px;
	border-radius: 15px;
	height:25px;
	cursor: not-allowed;
	padding-top: 5px;
	font-size: 12pt;
	color:lightgray;
	font-weight: bold;
	border: 3px solid lightgray;
	opacity: 0.5;
}

.NoMoreOlderQuestionsWarning{
	display: inline-block;
	vertical-align: middle;
	width:553px;
	float:left;
	margin-left: 3px;
	text-align: center;
	margin-bottom: 50px;
	margin-top: 10px;
	border-radius: 15px;
	height:25px;
	padding-top: 5px;
	font-size: 12pt;
	color:gray;
	font-weight: bold;
}