.TimeSlotFormForAnswerQuestionContainer{
	position: fixed;
	z-index: 11;
	width:450px;
	padding: 10px;
	padding-top: 20px;
	border-radius: 25px;
	background-color: skyblue;
	top:20px;
	left:50%;
	margin-left: -230px;
	animation: slidein 0.5s;
}

@keyframes slidein{
	0% {opacity: 0;}
	100%{opacity: 1;}
}

.TimeSlotFormForAnswerQuestionComment{
	border-radius: 15px;
	border: none;
	width:390px;
	padding: 5px;
	font-size: 11pt;
	margin: 25px;
	margin-top: 20px;
	margin-bottom: 10px;
	height: 40px;
	float: left;
	resize: none;
}

.TimeSlotFormForAnswerQuestionConfirmButton{
	border:none;
	width: 400px;
	margin-left: 25px;
	margin-bottom: 5px;
	border-radius: 15px;
	font-size: 14pt;
	height: 30px;
	cursor:pointer;
	background-color: lightgreen;
	color: white;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
}

.TimeSlotFormForAnswerQuestionConfirmButton:hover{
	background-color: palegreen;
}