.MyNote_questionContainer{
	position: absolute;
	top: 200px;
	left: 50%;
	width: 570px;
	margin-left: -400px;
	padding-bottom: 10px;
	background-color: lightblue;
}


.MyNote_timeSlotContainer{
	position: fixed;
	top: 200px;
	left:50%;
	margin-left: 150px;
	padding-top: 10px;
	width: 450px;
	height: 520px;
	z-index: 5;
}


.MyNote_LoadOlderQuestionsButton{
	color:white;
	font-weight: bold;
	border: 3px solid white;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	border-radius: 15px;
	cursor:pointer;
	font-size: 12pt;
	float:left;
	height:25px;
	width: 500px;
	padding-top: 5px;
	margin-left: 35px;
	margin-top: 5px;
	text-align: center;


}

.MyNote_LoadOlderQuestionsButton:hover{
	background-color: white;
	color:lightblue;
}

.MyNote_NoMoreOlderQuestionsWarning{
	color:gray;
	font-weight: bold;
	border: 3px solid lightblue;
	border-radius: 15px;
	font-size: 12pt;
	float:left;
	height:25px;
	width: 500px;
	padding-top: 5px;
	margin-left: 35px;
	margin-top: 5px;
	text-align: center;
}

.MyNote_LoadOlderQuestionsButtonDisable{
	color:gray;
	font-weight: bold;
	border: 3px solid gray;
	border-radius: 15px;
	cursor:pointer;
	font-size: 12pt;
	float:left;
	height:25px;
	width: 500px;
	padding-top: 5px;
	margin-left: 35px;
	margin-top: 5px;
	text-align: center;

}
