.MyNote_questionContainer{
	position: absolute;
	top: 200px;
	left: 50%;
	width: 570px;
	margin-left: -400px;
	padding-bottom: 10px;
	background-color: lightblue;
}


.MyNote_timeSlotContainer{
	position: fixed;
	top: 200px;
	left:50%;
	margin-left: 150px;
	padding-top: 10px;
	width: 450px;
	height: 520px;
	z-index: 5;
}



